
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Seems like there's been some kind of error, maybe try not doing that again.</p>

@Html.ActionLink("Click me to go back to the Home page", "Index", "Home");
